@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    border: 0;
    margin: 0;
    color: white;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background: rgba(255,255,255,0.3);
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
    transition: all 0.2s ease-in-out;
}

.container-btn-all {
    width: 50%;
    margin: auto;
    text-align: center;
}

.container-btn {
    margin-top: 10px;
}

.oui {
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, rgba(103,7,215,1) 0%, rgba(195,7,215,1) 100%);
}

.send {
    margin-top: 10px;
    display: flex;
}

select {
    background: transparent;
    width: 300px;
    padding: 1em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

select option {
    color: black;
}

.send > input {
    margin: auto;
    
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-top: 20px;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    justify-content: space-around;
}

.cc {
    position: absolute;
    top: 95%;
    left: 75%;
}

a {
    text-decoration: none;
    color: white;
    transition: transform 0.1s ease-in-out;
}

a:hover {
    transform: scale(1.1);
}

a:active {
    transform: scale(1.05);
}

.leave {
    position: absolute;
    right: 3%;
    top: 3%;
}

label {
    margin-top: 10px;
    padding-bottom: 4px;
}

select,label {
    display: block;
}
select {
    background: transparent;
    width: 300px;
    padding: 1em;
    border: none;
    border-left: 1px solid rgba(255,255,255,0.3);
    border-top: 1px solid rgba(255,255,255,0.3);
    border-radius: 50px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: #fff;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

select option {
    color: black;
}

.secund{
    margin-top: 15px;
}